.table-style {
    width: 100%;
    font-size: 1.4vw;
    border-collapse: collapse;
}
table, th, td {
    border: solid black 1px;
}
.tr-style1,.tr-style2 {
    background-color: white;
}

.table-style>tr>th {
font-weight: bold;
}

.table-style>tr>td {
    text-align: center;
}

.table-reference {
    text-decoration: none;
}